@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  *overflow: hidden;
}

#night-body {
  background-color: black;
  color: white;
}
#day-body {
  background-color: white;
}
h1 {
  color: red;
  margin-bottom: 1vh;
  height: 5vh;
  padding: 30px;
  font-family: "Rubik", sans-serif;
}

.contain {
  display: grid;
  grid-column: inherit;
  border: red solid 1px;

  width: 100%;
}

.nav-bar {
  /*border: green 1px solid;*/
  height: 3vh;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

#moon {
  height: 4vh;
  cursor: pointer;
}

#sun {
  height: 4vh;
  cursor: pointer;
}

#hide-moon-or-sun-icon {
  display: none;
}

.project-bar {
  border: 1px solid purple;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  margin-top: 2%;
  /*justify-content: center;*/
  gap: 15px;
  grid-auto-flow: row;
}
.new-project {
  display: block;
  border: blue solid 1px;
  width: 100px;
  height: 100px;
  padding: 25px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  text-align: center;
  cursor: pointer;
}

#hide-modal {
  display: none;
}
#show-modal {
  display: block;
}
.new-project-input {
  display: block;
  cursor: pointer;
  border: green solid 1px;
  width: 150px;
  height: 150px;
  padding: 25px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  text-align: center;
}
.new-project-data {
  display: grid;

  grid-template-columns: repeat(auto);

  /*border: red solid 2px;*/

  width: 100%;

  font-family: "Rubik", sans-serif;
  text-align: center;
}
.to-do-hidden {
  display: none;
}
.to-do-show {
  border: olivedrab 2px solid;
  height: 50vh;
  width: 60%;

  margin: 0 auto;
}

.to-do-input-box {
  display: grid;
  grid-template-columns: 10% 60% 15% 15%;
  border: 2px solid purple;
}

/*#show-input {
  display: hidden;
}*/

.new-prj-box {
  margin: 0 auto;
  border: royalblue 2px solid;
  width: 100%;
  height: 10vh;
  font-family: "Rubik", sans-serif;
}

.prj-btn-box-hidden {
  display: none;
}
.displayed-data {
  border: lightpink 1px solid;
  height: 2.5vh;
  text-align: center;
}

.prj-box-info {
  border: blueviolet 1px solid;
  height: 80%;
}
.prj-btn-box {
  display: grid;
  grid-template-columns: auto auto;
  height: 1.5vh;
  border: lawngreen 1px solid;
  /*margin-top: 6%;
  position: relative;*/
}
